[site]
# site url of the ckan installation
siteurl = https://ckan.opendata.swiss

[env]
# path to .env file
envpath = /home/liip/ogdch_checker/.env

[tmpdir]
# path to receive your output
tmppath = /home/liip/tmp

[linkchecker]
# linkchecker output files
csvfile = linkchecker.csv
statfile = linkstatistics.csv

[shaclchecker]
# shaclchecker input and output files
csvfile = shaclchecker.csv
frequency_file = /home/liip/ogdch_checker/frequency-eu.ttl
theme_file = /home/liip/ogdch_checker/theme-eu.ttl
licenses_file = /home/liip/ogdch_checker/licenses-dcat-ap-ch.ttl
formats_file = /home/liip/ogdch_checker/formats-eu.ttl
mime_types_file = /home/liip/ogdch_checker/mime-types.ttl
statfile = shaclstatistics.csv
shacl_file = /home/liip/ogdch_checker/ogdch.shacl.ttl

[contacts]
# file with custom contacts and a file for contactstatistics
csvfile =
statsfile = contactstats.csv

[emailbuilder]
# default email receiver
# Example `default_name = someone` `defaul_email = some@mail.com`
default_name = name_default
default_email = email_default@mail.com

[emailsender]
# email senders and email server
# these are all email adresses except for the smtp_server
cc = emailcc@mail.com
bcc = emailbcc@mail.com
geocat_admin = email_geocat@mail.com
dcat_admin = email_dcat@mail.com
smtp_server = localhost
sender = email_sender@mail.com

[test]
# email redirection for the --test option
# Example: `emails = email1@mail.com email2@mail.com`
emails = email_test@mail.com

[logging]
# set the logging level
level = INFO
