[site]
# site url of the ckan installation
siteurl = https://ckan.opendata.swiss

[tmpdir]
# put a custom path here where you want to receive your output
tmppath =

[linkchecker]
# chose name of the csv file to store the raw linkchecker results
csvfile = linkchecker.csv

[shaclchecker]
# chose name of the csv file to store the raw shaclchecker results
csvfile = shaclchecker.csv
frequency_url = http://purl.org/cld/freq
shacl_graph = ogdch.shacl.ttl

[messages]
# choose name for the msgfile
msgfile = emailmsgs.csv

[contacts]
# file to redirect contact emails per organizations
# header: pkg_type,organization_slug,contact_email
# row: geocat,example-org,contact@example.ch
# pkg_type can be either 'dcat' or 'geocat'
# organization_slug is the organization slug on opendata.swiss
csvfile =

[emailsender]
# admin email and title: all emails go also to the admin
admin_name =
admin_email =

# default email receiver, if no dataset contact can be found
default_name =
default_email =

# Title and email for sending emails for datasets harvested by geocat
geocat_name =
geocat_email =

#bcc  for sending emails
bcc =

# email server
smtp_server = localhost

# sender
sender = no-reply@opendata.swiss

[test]
# email address where the emails get send with the --test option
# Example: emails = email1 email2
emails =

[logging]
# set the logging level
level = INFO
