coverage==5.1
attrs==21.2.0
backcall==0.2.0
black==21.11b1
blessings==1.7
bpython==0.21
coverage==5.1
curtsies==0.3.10
cwcwidth==0.1.5
decorator==5.1.0
flake8==4.0.1
greenlet==1.1.2
iniconfig==1.1.1
ipython==7.28.0
isort==5.10.1
jedi==0.18.0
matplotlib-inline==0.1.3
mccabe==0.6.1
packaging==21.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.21
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.10.0
pytest==6.2.5
pyxdg==0.27
toml==0.10.2
traitlets==5.1.0
wcwidth==0.2.5
