<p>Hello {{ context.receiver_name }}</p>
<p>
{% if context.checker_type == context.checker_type_link %}
>[DE] - Wir haben ein Problem festgestellt beim Versuch, auf folgende Quellen zuzugreifen.
<br>Bitte kontrollieren Sie, ob diese Quellen noch zugänglich sind und korrigieren Sie sie nötigenfalls.
{% elif context.checker_type == context.checker_type_shacl %}
[DE] - Fehlerhafte Metadaten.
<br>Nachfolgende Felder Ihrer Datasets auf opendata.swiss entsprechen nicht den Anforderungen von DCAT-AP CH. Bitte ergänzen Sie die entsprechenden Angaben.
{% endif %}
{% if context.pkg_type == context.pkg_type_geocat %}
<br>Geometadaten sind in <a href='https://www.geocat.ch/geonetwork/srv/ger/catalog.search#/home'>geocat.ch</a> zu aktualisieren.
{% endif %}
</p>
<p>
{% if context.checker_type == context.checker_type_link %}
[FR] - Nous avons constaté un problème en essayant d'accéder aux ressources suivantes.
<br>Merci de vérifier si ces ressources sont toujours disponibles et de les corriger si nécessaire.
{% elif context.checker_type == context.checker_type_shacl %}
[FR] - Nous avons constat&eacute; un probl&egrave;me en essayant d&#39;acc&eacute;der aux ressources suivantes.
<br>Merci de v&eacute;rifier si ces ressources sont toujours disponibles et de les corriger si n&eacute;cessaire.
{% endif %}
{% if context.pkg_type == context.pkg_type_geocat %}
<br>Les géométadonnées doivent être mises à jour dans <a href='https://www.geocat.ch/geonetwork/srv/fre/catalog.search#/home'>geocat.ch</a>.
{% endif %}
</p>
<p>
{% if context.checker_type == context.checker_type_link %}
[IT] - Abbiamo riscontrato un problema nel tentativo di accedere alle risorse seguenti.
<br>La preghiamo di verificare se le risorse sono ancora disponibili e, se necessario, correggerle.
{% elif context.checker_type == context.checker_type_shacl %}
[IT] - Abbiamo riscontrato un problema nel tentativo di accedere alle risorse seguenti.
<br>La preghiamo di verificare se le risorse sono ancora disponibili e, se necessario, correggerle.
{% endif %}
{% if context.pkg_type == context.pkg_type_geocat %}
<br>I geometadati devono essere attualizzati in <a href='https://www.geocat.ch/geonetwork/srv/ita/catalog.search#/home'>geocat.ch</a>.
{% endif %}
</p>
<p>
{% if context.checker_type == context.checker_type_link %}
[EN] - While accessing the following resources, we found some unexpected behaviour.
<br>Please check if those resources are still available.
{% elif context.checker_type == context.checker_type_shacl %}
[EN] - While accessing the following resources, we found some unexpected behaviour.
<br>Please check if those resources are still available.
{% endif %}
{% if context.pkg_type == context.pkg_type_geocat %}
<br>Geometadata need to be updated in <a href='https://www.geocat.ch/geonetwork/srv/eng/catalog.search#/home'>geocat.ch</a>.
{% endif %}
</p>
