<p>Hello {{ context.receiver_name | e }},</p>
<p>
    {% if context.checker_type == context.checker_type_link %}

    While accessing the following URLs, we found some unexpected behaviour.
    <br>
    Please check if those URLs are still available.

    {% elif context.checker_type == context.checker_type_shacl %}
</p>
<p>
    You are receiving this automatic validation
    email from opendata.swiss because some fields in your 
    datasets do not comply with the DCAT-AP CH standard. 
    PPlease update the relevant data to help improve metadata quality.
    <br>
   For more details, follow the link next to the error messages to access the manual.
   If you have any questions, please contact the OGD office at <a href='mailto:opendata@bfs.admin.ch'>opendata@bfs.admin.ch</a>.
    {% endif %}
</p>
<p>
    {% if context.pkg_type == context.pkg_type_geocat %}

    Geometadata need to be updated in <a href='https://www.geocat.ch/geonetwork/srv/eng/catalog.search#/home'>geocat.ch</a>.

    {% else %}

    If you have any questions, please contact the OGD office at <a href='mailto:opendata@bfs.admin.ch'>opendata@bfs.admin.ch</a>.

    {% endif %}
</p>
<p><small>
    You are receiving this email because you are either a registered administrator on opendata.swiss 
    or your address is listed as a contact for validation emails.
</small></p>
<p>******************************************</p>
{% for property, info in context.errors.items() %}
<hr>
<p>
<strong>Property:</strong> '{{ property }}' <br>
<strong>VIOLATION:</strong> {{ info.error_msg }} <br>
</p>
<p><strong>Dataset(s):</strong><br>
{% for ds in info.datasets %}
- {{ ds.url }}<br>
{% endfor %}
</p>
{% endfor %}
