<p>Hello {{ context.receiver_name | e}}</p>
<p>This is a summary of the results of the {{ context.mode }} shecker run</p>
<p>Checks done:</p>
<ul>
  {% for check in context.checks %}
  <li>
    [{{ check.check_nr }}] {{ check.message }}
  </li>
  {% endfor %}
</ul>
<p>Errors occured:</p>
<table>
  <tr>
    <th>Check Number</th>
    <th>Number of Errors</th>
  </tr>
  {% for error in context.errors %}
  <tr>
    <td>Check [{{ error.check_nr }}]</td>
    <td>{{ error.count }}</td>
  </tr>
{% endfor %}
</table>
